.input {
  background: rgba(40, 40, 40, 0.3);
  border: 1px solid #333;
  display: block;
  margin: 10px auto;
  padding: 10px;
  transition: border-color 0.4s, color 0.4s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input:hover {
  color: #fff;
  border-color: #37474f;
  background: #1C3C2E
}
