.card {
  align-items: center;
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  display: flex;
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  height: 150px;
  justify-content: center;
  width: 100px;
}
