.home {
  text-align: center;
  margin-top:100px;
  color: #ddd;
  font-size: 22px; 
  padding-top: 30px;
}
.home > .card{
  margin: 0 60px;
}


.option-card{
  height: 100px;
}
.row{
  margin: 0 -16px
}
.separator{
  height: 15px;
}