.bgimg {
    background: url("https://www.walldevil.com/wallpapers/a52/wallpaper-textur-background-patterns-backgrounds-wallpapers.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

body, html {
    height: 100%;
}