body, html {
  width: 100%;
} 
body {
  background-image: url("./../images/background-felt.png");
  background-size: 300px;
  background-repeat: repeat;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  margin: 0;
  padding: 0;
}
